body {
    background: salmon;
    text-align: center;
}

a {
    color: slateblue;
}

button{
    background-color: slateblue;
    color:whitesmoke; 
    border-radius: 10px;
    border: turquoise;
}
#submitBtn {
    background-color: slateblue;
    color:whitesmoke; 
    border-radius: 10px;
    border: teal;
}

#cw{
    color: slategrey;
}
/* hover effect over answers */
button:hover{
    background-color: teal;
}

#submitBtn:hover{
    background-color: teal;
}




/* high score link is purple */



/* Correct or Wrong are greyed out */